# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Microsoft Power BI Para Business Intelligence e Data Science</font>

## <font color='blue'>Machine Learning com Linguagem Python e Power BI Dentro do Jupyter Notebook</font>

Problema de Negócio:

Considerando dados históricos de clientes que realizaram compras em nossa empresa, faça o agrupamento (segmentação) dos clientes por similaridade de características em 3 grupos e envie o relatório para a equipe de Marketing.

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.11.7

In [ ]:
# Imports
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

### Carregando os Dados

In [10]:
# Carrega os dados
df_dsa = pd.read_csv("dados/dados_clientes.csv")

In [12]:
# Visualiza as 5 primeira linhas
df_dsa.head()

   id  idade  renda_anual  pontuacao_gastos
0   1     56        94740                90
1   2     69       136352                50
2   3     46        86617                62
3   4     32       114841                97
4   5     60        36896                51

### Análise Exploratória

In [13]:
# Resumo estatistico
df_dsa[['idade','renda_anual','pontuacao_gastos']].describe()

            idade    renda_anual  pontuacao_gastos
count  500.000000     500.000000        500.000000
mean    44.732000   81557.166000         48.512000
std     15.239707   36764.379945         29.556946
min     18.000000   20384.000000          0.000000
25%     32.000000   49172.750000         24.000000
50%     45.000000   79219.000000         48.500000
75%     57.000000  113017.250000         73.250000
max     70.000000  149695.000000        100.000000

### Pré-Processamento dos Dados

In [14]:
# Cria o pradonizador dos dados
padronizador = StandardScaler()

In [35]:
# Aplica o padronizador somente nas colunas de interesse
dados_padronizados = padronizador.fit_transform(df_dsa[['idade','renda_anual','pontuacao_gastos']])

In [36]:
# Visualiza os dados
print(dados_padronizados)

[[ 0.74012478  0.35893538  1.40506904]
 [ 1.59401387  1.49192537  0.05039391]
 [ 0.08328703  0.13776654  0.45679645]
 ...
 [-0.31081563  0.32661636  0.18586143]
 [-1.23038848 -1.48706069  1.43893592]
 [-1.03333716 -0.96992912 -0.59307677]]

### Construção do Modelo de Machine Learning para Segmentação de Clientes

In [37]:
# Definimos o número de clusters (k)
k = 3

In [38]:
# Criamos o modelo K-means
kmeans = KMeans(n_clusters=k, n_init='auto')

In [46]:
# Treinamento do modelo com os dados padronizados
kmeans.fit(dados_padronizados, y=None, sample_weight=None)

AttributeError: 'NoneType' object has no attribute 'split'

In [ ]:
# Atribuimos os rótulos dos clusters aos clientes
df_dsa['cluster'] = kmeans.labels_

In [30]:
# Exibe o resultado (10) primeiros
df_dsa.head(10)

   id  idade  renda_anual  pontuacao_gastos
0   1     56        94740                90
1   2     69       136352                50
2   3     46        86617                62
3   4     32       114841                97
4   5     60        36896                51
5   6     25       145729                37
6   7     38        66175                96
7   8     56        27805                87
8   9     36        25237                78
9  10     40       135247                29

In [ ]:
# Salvamos o resultado em disco
df_dsa.to_csv('dados/segmentos.csv', index=False)

### Gerando Relatório dos Segmentos de Clientes com o Power BI no Jupyter Notebook